html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.big-container {
  width: 1440px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
  min-height: 100px;
  position: relative;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  color: #283136;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 49px;
}

.site-navigation,
.kart-navigation,
.working,
.partner-list {
  list-style: none;
}

.site-navigation a,
.kart-navigation a {
  display: block;
  color: #000000;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 63px;
}

.site-navigation {
  display: flex;
  padding-left: 362px;
}

.site-navigation li {
  padding-right: 57px;
}

.kart-navigation {
  position: relative;
  max-width: 200px;
}

.kart a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 100%;
  width: 15px;
  height: 15px;
}

.advantages {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 60px;
}

.advantages-item {
  position: relative;
  min-width: 300px;
}

.advantages-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 252px;
  padding-bottom: 13px;
}

.advantages-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  color: #283136;
}

.web-site::after {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-1.png");
  width: 300px;
  height: 146px;
  top: 80px;
}

.apps::after {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-2.png");
  width: 300px;
  height: 146px;
  top: 80px;
}

.presentation::after {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-3.png");
  width: 300px;
  height: 146px;
  top: 80px;
}

.button-web,
.button-apps,
.button-presentation {
  width: 160px;
  padding-top: 19px;
  padding-bottom: 18px;
}

.button-web {
  background-color: #fb565a;
}

.button-apps {
  background-color: #00ca74;
}

.button-presentation {
  background-color: #efc84a;
}

.button-apps:hover,
.button-apps:focus {
  background-color: #00bc6c;
}

.button-apps:active {
  background-color: #00aa62;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
}

.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 66px;
  border-bottom: 2px solid #eeeeee;
}

.ability {
  max-width: 680px;
  padding-top: 35px;
}

.ability h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}

.ability p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 38px;
  color: #283136;
}

.ability-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 430px;
}

.ability-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.working {
  padding: 0;
  margin: 0;
}

.working li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  padding-top: 27px;
  padding-left: 35px;
}

.accuracy {
  max-width: 360px;
  margin: 0;
  padding: 0;
}

.accuracy {
  position: relative;
}

.nerds-ico::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 208px;
}

.accuracy h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 248px;
  padding-bottom: 49px;
  text-transform: uppercase;
}

.percent-item {
  max-width: 360px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 29px;
}

.percent-item sup {
  font-weight: 500;
}

.accuracy-item {
  color: #283136;
}

.partners .container {
  padding: 61px 0 19px;
  border-bottom: 2px solid #eee
}

.partners .partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0
}

.partners-item {
  position: relative
}

.partners-item:first-child {
  margin-right: 97px;
  margin-left: 31px
}

.partners-item:nth-child(2) {
  margin-top: -14px;
  margin-right: 103px
}

.partners-item:nth-child(2)::after {
  top: 16px;
  left: 252px
}

.partners-item:nth-child(3) {
  margin-right: 123px
}

.partners-item:nth-child(3)::after {
  left: 241px
}

.partners-item:last-child {
  margin-top: -8px
}

.partners-item::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 249px
}

.partners-item:last-child::after {
  display: none
}

.partners-item a {
  opacity: 0.2
}

.partners-item a:hover {
  opacity: 1
}

.partners-item a:focus {
  opacity: 0.1
}

.map {
  padding-top: 80px;
}
