html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.big-container {
  width: 1440px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
  min-height: 100px;
  position: relative;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  color: #283136;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 49px;
}

.site-navigation,
.kart-navigation,
.working,
.partner-list,
.social,
.price-item,
.result-list {
  list-style: none;
}

.site-navigation a,
.kart-navigation a {
  display: block;
  color: #000000;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 63px;
}

.site-navigation {
  display: flex;
  padding-left: 362px;
}

.site-navigation li {
  padding-right: 57px;
}

.kart-navigation {
  position: relative;
  max-width: 200px;
}

.kart a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 100%;
  width: 15px;
  height: 15px;
}

.advantages {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 60px;
}

.advantages-item {
  position: relative;
  min-width: 300px;
}

.advantages-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 252px;
  padding-bottom: 13px;
}

.advantages-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  color: #283136;
}

.web-site::after {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-1.png");
  width: 300px;
  height: 146px;
  top: 80px;
}

.apps::after {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-2.png");
  width: 300px;
  height: 146px;
  top: 80px;
}

.presentation::after {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-3.png");
  width: 300px;
  height: 146px;
  top: 80px;
}

.button-web,
.button-apps,
.button-presentation {
  width: 160px;
  padding-top: 19px;
  padding-bottom: 18px;
}

.button-web {
  background-color: #fb565a;
}

.button-apps {
  background-color: #00ca74;
}

.button-presentation {
  background-color: #efc84a;
}

.button-apps:hover,
.button-apps:focus {
  background-color: #00bc6c;
}

.button-apps:active {
  background-color: #00aa62;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
}

.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 66px;
  border-bottom: 2px solid #eeeeee;
}

.ability {
  max-width: 680px;
  padding-top: 35px;
}

.ability h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}

.ability p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 38px;
  color: #283136;
}

.ability-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 430px;
}

.ability-item h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.working {
  padding: 0;
  margin: 0;
}

.working li {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  padding-top: 25px;
  padding-left: 35px;
}

.working li:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 38px;
  left: 0;
}

.accuracy {
  max-width: 360px;
  margin: 0;
  padding: 0;
}

.accuracy {
  position: relative;
}

.nerds-ico::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 208px;
}

.accuracy h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 248px;
  padding-bottom: 49px;
  text-transform: uppercase;
}

.percent-item {
  max-width: 360px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 29px;
}

.percent-item sup {
  font-weight: 500;
}

.accuracy-item {
  color: #283136;
}

.partners .container {
  padding: 61px 0 19px;
  border-bottom: 2px solid #eee;
}

.partners .partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0
}

.partners-item {
  position: relative
}

.partners-item:first-child {
  margin-right: 97px;
  margin-left: 31px
}

.partners-item:nth-child(2) {
  margin-top: -14px;
  margin-right: 103px
}

.partners-item:nth-child(2)::after {
  top: 16px;
  left: 252px
}

.partners-item:nth-child(3) {
  margin-right: 123px
}

.partners-item:nth-child(3)::after {
  left: 241px
}

.partners-item:last-child {
  margin-top: -8px
}

.partners-item::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 249px
}

.partners-item:last-child::after {
  display: none
}

.partners-item a {
  opacity: 0.2
}

.partners-item a:hover {
  opacity: 1
}

.partners-item a:focus {
  opacity: 0.1
}

.map {
  position: relative;
  padding-top: 80px;
}

.main-footer {
  padding-top: 66px;
  padding-bottom: 66px;
}
.main-footer-container {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.social-item {
  display: flex;
  justify-content: center;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.button-vk {
    display: block;
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-fb {
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-inst {
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-vk:hover,
.button-fb:hover,
.button-inst:hover {
  background-color: #e74246;
  border-radius: 50%;
}


.button-vk:active path,
.button-fb:active path,
.button-inst:active path {
  opacity: 0.3;
  background-color: #d7373b;
  border-radius: 50%;
}
.invitation {
  padding-right: 216px;
}

.invitation h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 12px;
}

.invitation p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.communication {
  position: absolute;
  top: 134px;
  left: 140px;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
}

.communication-container {
  padding-top: 54px;
  padding-left: 51px;
  padding-bottom: 47px;
  padding-right: 51px;
}

.communication h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-right: 7px;
  padding-bottom: 32px;
}

.communication-container p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  padding: 0;
  margin: 0;
}
.communication-container .adress {
  padding-bottom: 20px;
}

.communication-container .phone {
  padding-bottom: 37px;
}

.bt-container {
  display: inline-block;
  width: 219px;
}

.modal {
  display: none;
  position: absolute;
  top: -137px;
  left: 240px;
  width: 960px;
  height: 590px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-left: 100px;
}

.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 49px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 27px;
}

.input-item {
  max-width: 360px;
  padding-bottom: 36px;
}

.input-item label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal-container input {
  width: 360px;
  height: 50px;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
  color: #444444;
}

.last input {
  min-height: 118px;
  min-width: 760px;
}

.button-modal {
  padding-left: 100px;
}

.header-catalog {
  max-height: 355px;
}

.header-catalog h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding-top: 82px;
  padding-left: 357px;
  padding-right: 357px;
  padding-bottom: 116px;
  color: #000000;
}

.price {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.price h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.price span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 280px;
}

.price-item {
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 267px;
  padding-right: 54px;
}

.price-item a {
  color: #000000;
}

.sorting-arrow {
  width: 30px;
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.view {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.price-control {
  position: relative;
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
  margin-bottom: 13px;
}

.price-control .scale {
  position: absolute;
  top: 39px;
  left: 31px;
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.price-control .bar {
  position: absolute;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-control-item {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-control-min {
  top: 29px;
  left: 19px;
}

.range-control-max {
  top: 28px;
  left: 171px;
}

.control-input {
  width: 260px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 62px;
}

.control-input .min,
.control-input .max {
  width: 80px;
  height: 38px;
  background-color: #eeeeee;
  border-radius: 4px;
  border: none;
  margin: 0;
  padding: 0;
}

.control-input label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.result-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-left: 140px;
}

.reswult-container {

}

.result-list-item {
  position: relative;
  padding-top: 40px;
  padding-bottom: 33px;
}

.result-list-item a::before {
  position: absolute;
  top: 0;
  content: "";
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
}

.result-list-item a:hover::before {
  position: absolute;
  top: 0;
  content: "";
  background-image: url("../img/browser-focus.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
}


.filter-item-radio,
.filter-item-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
}


.filter-item-radio {
  min-height: 130px;
  padding-bottom: 57px;
}

.filter-item-checkbox {
  min-height: 220px;
  padding-bottom: 50px;
}

.filter-item-radio h2,
.filter-item-checkbox h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.radio-buttons,
.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 27px;
}

.radio-buttons {
  min-height: 93px;
}

.checkboxes {
  min-height: 176px;
}

.radio label,
.checkbox label {
  position: relative;
  padding-left: 37px;
  color: #283136;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/radio-on.png");
  background-repeat: no-repeat;
  left: 0;
  width: 25px;
  height: 25px;
}

.radio-disabled:checked:disabled + label::after {
  background-image: url("../img/radio-on-disabled.png");
}

.radio-disabled:disabled + label::after {
  background-image: url("../img/radio-off-disabled.png");
}

.filter-input-radio + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  left: 0;
  width: 25px;
  height: 25px;
  color: #6a6a6a;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  left: 0;
  width: 27px;
  height: 23px;
}

.checkbox-disabled:checked:disabled + label::after {
  background-image: url("../img/checkbox-on-disabled.png");
}

.checkbox-disabled:disabled + label::after {
  background-image: url("../img/checkbox-off-disabled.png");
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  left: 0;
  width: 27px;
  height: 23px;
  color: #6a6a6a;
}


.button-push {
  width: 260px;
  background-color: #eeeeee;
  color: #000000;
}

.button-push:hover {
  background-color: #dfdfdf;
  color: #000000;
}

.button-push:focus  {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.page-switcher {
  min-width: 450px;
  padding-left: 400px;
  padding-bottom: 60px;

}

.page-list {
  display: flex;
  justify-content: space-between;
}

.button-page {
  width: 50px;
  cursor: pointer;
}

.button-page:focus,
.button-page:active {
  background-color: #ffffff;
  box-shadow: none;
  color: #000000;
  border: 3px solid #dbdbdb;
}

.map-index {
  margin-top: -80px;
}

.active {
  background-color: #ffffff;
  box-shadow: none;
  color: #000000;
  border: 3px solid #dbdbdb;
}
